h1, label, span, input, td {
	color: #22313F;
	font-family: sans-serif;
	text-transform: uppercase;
}

* {
	margin: 0;
	padding: 0;
}

#body-container {
	width: 100vw;
	height: 100vh;
	background-color: #C5EFF7;
	color: white;
	box-sizing: border-box;
	padding: 1em;
}

#dashboard {
	width: 100%;
	height: 90%;
	margin-top: 1em;
}

.section {
	width: 50%;
	height: 50%;
	float: left;
}
#chart1 {
	background-color: #336E7B;

}

#chart2 {
	background-color: #34495E;
	text-align: center;
}

#chart3 {
	background-color: #4B77BE;

}

#control1 {
	padding: 40px;
}
#control2 {
	padding: 40px;
}

